<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="section">
    <div class="columns">
        <div class="column"></div>
        <article class="message is-danger column">
            <div class="message-header">
                <p>Error</p>
                <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
                An error has occurred, please try again.
            </div>
        </article>
        <div class="column"></div>
    </div>
</section>
</body>
</html>


