<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<section class="section">
    <div class="columns">
    <form action="form" method="post" class="column">
        <div class="field">
            <label class="label">Address</label>
            <div class="control">
                <input class="input" type="text" placeholder="e.g 123 West Elm" name="address" required="required" >
            </div>
        </div>

        <div class="field">
            <label class="label">Radius</label>
            <div class="control">
                <input class="input" type="number" name="radius" placeholder="in km" required="required" >
            </div>
        </div>

        <div class="control">
            <input type="submit" class="button is-primary"></input>
        </div>
    </form>
    <div class="column"></div>
    </div>
</section>
</body>
</html>


